@import url('https://fonts.googleapis.com/css2?family=Atma&family=Convergence&family=Laila&display=swap');
.cButton{
    padding-bottom: 50px;
    text-align: center;
}

h1{
    font-family: Convergence;
}

h2{
    font-family: Laila;
    font-weight: bold;
}

p{
    font-family: Laila;
    font-size: larger;
}

button{
    color: rgb(245, 245, 245);
    background-color: lightseagreen;
    border: 1px solid rgb(245, 245, 245);
    font-family: Convergence;
}

button:hover{
    /*color: lightseagreen;
    background-color: white;
    border: 1px solid lightseagreen;*/
    color: white;
    background-color: rgb(14, 82, 97);
    border: 1px solid white;
}

.btn{
    border: 1px solid lightseagreen;
}



.btn2{
    margin-right: 10px;
    font-size: 25px;
    width: 45px;
    height: 45px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 15px;
    border-color: white;
}

.noButton{
   margin-right: 10px;
    font-size: 25px;
    width: 45px;
    height: 45px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 15px; 
    background-color: rgb(165, 224, 221);
    color:rgb(245, 245, 245);
    border: none;

}

.noButton:hover{
    background-color: rgb(165, 224, 221);
    color:rgb(245, 245, 245);
    border:none
}

.dash{
    display: inline-block;
    text-align: center;
    font-size: 35px;
    padding: 10px;
    font-family: Convergence;
}

.under{
    font-size: 35px;
    padding: 0px;
}

.space{
    padding: 15px;
}

.revealNext{
    color: white;
    background-color: lightseagreen;
    font-size: 25px;
}

.revealNext:hover{
    color: white;
    background-color: rgb(14, 82, 97);
    border: 1px solid white;
}

