.cButton{
    padding-bottom: 50px;
    text-align: center;
}

button{
    color: rgb(245, 245, 245);
    background-color: lightseagreen;
    border: 1px solid rgb(245, 245, 245);
}

button:hover{
    color: lightseagreen;
    background-color: white;
    border: 1px solid lightseagreen;
}

.btn{
    border: 1px solid lightseagreen;
}



.btn2{
    margin-right: 10px;
    font-size: 25px;
    width: 45px;
    height: 45px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 15px;
    border-color: white;
}

.noButton{
   margin-right: 10px;
    font-size: 25px;
    width: 45px;
    height: 45px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    padding: 15px; 
    border-color: rgb(245, 245, 245);
}

.noButton:hover{
    background-color: lightseagreen;
    color:rgb(245, 245, 245);
    border-color: rgb(245, 245, 245);
}

.dash{
    display: inline-block;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.under{
    font-size: 25px;
    padding: 0px;
}

.space{
    padding: 15px;
}

.revealNext{
    color: white;
    background-color: lightseagreen;
    font-size: 25px;
}

.revealNext:hover{
    color: lightseagreen;
    background-color: white;
    border: 1px solid lightseagreen;
}

.old{
    color:white;
    background-color: white;
    border-color:white;
}

.old:hover{
    color: white;
    background-color: white;
    border-color:white;
}